@charset "UTF-8";
/* Глобальные переменные */
:root {
    --main-width: 1296px;
    --main-padding-left: 10px;
    --main-padding-right: 10px;
}

body {
    background: #6faea0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Bartina Bold';
    src: local('Bartina Bold') 
         url("../fonts/Bartina Bold.ttf");
}

@counter-style marker-services1 {
    system: fixed;
    symbols: "💰" "🧍‍♂️" "💧" "💡";
    suffix: " ";
}

@counter-style marker-services2 {
    system: fixed;
    symbols: "🚽" "" "" "";
    suffix: " ";
}


/* Шапка сайта и навигационная панель */
.header {
    background-color:rgba(28, 108, 67, .9);
}

.greets, .news {
    padding: 0;
}

.nav-link {
    color: white;
    transition: background-color .3s, color .3s;
}

.nav-link:visited{
    color: white;
}

.nav-link:hover, .nav-link.px-2.text-body-secondary:hover {
    background-color: #1c301c;
    color: white !important;
}

.nav-link:active {
    background-color: #198754;
    color: black;
}

.last-nav-item {
    margin-right: 16px;
}

img.mx-3 {
    border-radius: 10px;
    border: 1px solid black;
    background-color: bisque;
}
  
  span.fs-3 {
    font-family: 'Bartina Bold' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: white;
    text-shadow:
       2px  2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

/* Главная */
.header-book {
    background-color: rgba(28, 108, 67, .5);
    color: white;
    margin-top: 20px;
}

.header-book > h1 {
    display: block;
    color: white;
    padding: 10px 0;
    padding-left: 20px;
    width: 1296px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(28, 108, 67, .6);
    text-shadow:
       2px  2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

.header.banket {
    background-color: rgba(28, 108, 67, .5);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0;
}

.header.banket > h1 {
    padding-left: 20px;
    text-shadow:
       2px  2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

/* Контейнер для брони */

@keyframes appearHouse{
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.house-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1320px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin-top: 20px;
    animation: appearHouse linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Для галереи изображений */
.carousel-item{
	height: 400px;
}

.carousel-item > img{
    border-radius: 20px;
    height: 400px;
}
  
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
  
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(49, 49, 49, 0.2);
    border-radius: 20px;
}

/* Карточка домика */
.text-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul.chars1 {
    list-style-type: marker-services1;
    font-size: 30px;
    margin-left: 20px;
}

ul.chars2 {
    list-style-type: marker-services2;
    font-size: 30px;
    margin-left: 20px;
}

.facility.teapot {
    list-style-image: url(../images/teapotMarker.png);
}

.facility.fridge {
    list-style-image: url(../images/fridgeMarker.png);
}

.facility.microwave {
    list-style-image: url(../images/microwaveMarker.png);
}

.facility{
    font-weight: 600;
    font-family: 'Bartina Bold' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

*:before, *:after {
    box-sizing: border-box;
}

.btn-book {
    display: inline-block;
    border: none;
    outline: none;
    appearance: none;
    position: relative;
    z-index: 3;
    height: 60px;
    border-radius: 30px;
    padding: 0 21px;
    font-size: 21px;
    font-weight: 700;
    box-shadow: 1px 1px 1px 0 black;
}

.btn-book:before {
    content: attr(data-text);
    min-width: 144px;
    z-index: -1;
    border-radius: 27px;
}

.btn-book:after {
    content: '';
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    z-index: -2;
    border-radius: 30px;
    background: #ffdd02be;
}

.btn-book:hover {
    cursor: pointer;
    background: linear-gradient(to right, #78ff52 0%, #006651 100%);
}

.btn-book:active {
    box-shadow: 0px 0px 0px 0 black;
}

/* Банкетный зал */
.right-title {
    text-align: center;
}

.banket-info p {
    font-family: 'Bartina Bold' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.carousel-container.banket {
    align-self: center;
}

/* Шатер */
.carousel-container.shatr {
    align-self: center;
}

/* Беседки */
@counter-style marker-pavilion {
    system: fixed;
    symbols: "💰" "🧍‍♂️" "🔌" "🍖";
    suffix: " ";
}

ul.charsPav {
    list-style-type: marker-pavilion;
    font-size: 30px;
    margin-left: 20px;
}

.facility.bbq {
    list-style-image: url(../images/bbqMarker.png);
}

.text-about > p {
    font-family: 'Bartina Bold' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
}
/* Подвал */
.nav-link.px-2 {
    border-radius: var(--bs-border-radius);
}

footer {
    border-top: 1px solid #000000 !important;
  }